/PraktikumJava/JAVA_2/nbproject/private/
/PraktikumJava/Praktikum1/Praktikum_1/nbproject/private/
/Praktikum_Java/Java2_H/nbproject/private/
/Praktikum_Java/Java_2H/nbproject/private/
/Praktikum_Java/JAVA_2H/build/
/Praktikum_Java/Testing/nbproject/private/
/Praktikum_Java/Testing/build/
/Praktikum_Java/Lesson1/nbproject/private/
/Praktikum_Java/Lesson1/build/
/Praktikum_Java/Application/nbproject/private/
/Praktikum_Java/Application/build/
/Praktikum_Java/PBO_2/nbproject/private/
/Praktikum_Java/PBO_2/build/